/////////////////////
// Table of Contents
/////////////////////
// 1. global  
// 2. search  
// 3. weather   
/////////////////////
// global
/////////////////////
body
    background: #3289a8
/////////////////////
// search
/////////////////////
.searchForm
    display: flex
    justify-content: center
.searchBar
    height: 2em

    
    
    
    
    
    
    
    
/////////////////////
// weather
/////////////////////
.weatherData
    display: flex
    justify-content: center