/////////////////////
// Table of Contents
/////////////////////
// 1. SASS  
// 2. global  
// 3. search   
// 4. Parralax   
/////////////////////
// Table of Contents
/////////////////////
//-----------------//
/////////////////////
// SASS 
/////////////////////
$screen-sm: 576px
$screen-md: 768px
$screen-lg: 992px
$screen-xl: 1200px

$light-grey: #efefef

@mixin CenterDiv
    display: flex
    justify-content: center
    align-items: center

@mixin sm
    @media (max-width: #{$screen-sm})
        @content
@mixin md
    @media (max-width: #{$screen-md})
        @content
@mixin lg
    @media (max-width: #{$screen-lg})
        @content
@mixin xl
    @media (max-width: #{$screen-xl})
        @content

/////////////////////
// global
/////////////////////
*
    border: none
body
    // background-image: url(../assets/_background.jpg)
    background-color: grey
    overflow: hidden
    font-family: 'Roboto Condensed', sans-serif
.center
    @include CenterDiv
/////////////////////
// search
/////////////////////
.searchBar
    // border: 1px solid #ccc
    background-color: white
    display: flex
    &__input
        font-family: 'Roboto Condensed', sans-serif
        background-color: transparent
        display: none
        &:focus-within
            outline: none
            border: none
            display: block
     
.btn
    background-color: transparent
    &:hover

        background-color: #efefef
        transition: background-color 0.5s ease-in-out
    &:focus-within
        display: block

/////////////////////
// Parralax
/////////////////////
.weatherData
    display: flex
    justify-content: center
.listOfStates
    background-color: #fff
.weatherInfo
    display: flex
    justify-content: flex-end
